
.container{
    &:before{
        display: table;
        content: "";
    }
    &:after{
        clear: both;
        display: block;
        content: "";
        box-sizing: border-box;
    }
}
.row{
    &:before{
        display: table;
        content: "";
    }
    &:after{
        clear: both;
        display: block;
        content: "";
        box-sizing: border-box;
    }
}

*{
    box-sizing: border-box;
}
.breadcrumb-shop{
    background: #fafafa;
    margin-bottom: 20px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-12 {
    width: 100%;
    float: left;
}
.breadcrumb-shop .breadcrumb-arrows {
    padding: 15px 0;
    background: transparent;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    float: left;
}
.breadcrumb-shop .breadcrumb-arrows li {
    font-size: 13px;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb>.active {
    color: #777;
}
.breadcrumb>li+li{
    &:before{
        color: #ccc;
    content: " /\00a0";
    }
}

.col-md-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.sidebar-page .group-menu {
    margin: 0 0 30px;
    position: relative;
    padding: 20px;
    border: 1px solid #e3e5ec;
}

.sidebar-page .page_menu_title h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #272727;
    text-align: center;
}

ul{
    margin-top: 0;
    margin-bottom: 10px;
}

.tree-menu > li > a {
    color: #272727;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    border-bottom: 1px dashed #e5e5e5;
}

.tree-menu li a {
    padding: 5px 5px 5px 0;
    // line-height: 26px;
    // font-size: 12px;
    display: block;
    position: relative;
}

.col-md-9 {
    width: 75%;
    float: left;
    text-align: left;
}

.heading-page h1 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
}

.wrapbox-content-page {
    padding-bottom: 30px;
    padding-left: 80px;
}

.page-wrapper ul {
    list-style-type: initial;
    font-size: 14px;
    padding: 10px 0;
}
page-wrapper ul li{
    padding: 10px 0;
}
